/* Start Global Rules */

input {
    border: none;
    padding: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.SVG {
    font-size: 22px;
    position: absolute;
    left: 11px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* End Global Rules */

form {
    width: 600px;
    max-width: 100%;
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    -moz-border-radius: 7.5px;
    -ms-border-radius: 7.5px;
    -o-border-radius: 7.5px;
}

.Email-box {
    display: flex;
    align-items: center;
    height: 50px;
    /* position: relative; */
}

.Email-box input {
    height: 100%;
}

.Email-box .input {
    width: 70%;
    margin-right: 30px;
    border: 1 px solid #ccc;
    border-radius: 6.9px;
    -webkit-border-radius: 6.9px;
    -moz-border-radius: 6.9px;
    -ms-border-radius: 6.9px;
    -o-border-radius: 6.9px;
}

.Email-box .button {
    width: 30%;
    cursor: pointer;
}


/* Start Our Frame Work */


/* End Our Frame Work */